
<ul class="list">
  <% @salads.each do |salad| %>
      <li>
        <div class="panel item-list">
          <b><%= salad.salad_name %></b> | Votes: <%= salad.votes %><br>
          <em>Base: <%= salad.lettuce_type %></em><br>
          Description:<em> <%= salad.description %></em><br>
          <%= image_tag salad.image_url %>

         </div>
      </li>
  <% end %>
</ul>

<!-- 'number_field' for upvoting or downvoting
 -->