<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Salad Fu">
  <meta name="keywords" content="">
  <title>Salad Fu</title>
</head>


<body>
<% content_for :title, "Salad Fu :: Home" %>

<h1>Welcome To Salad Fu</h1>

<%= form_tag 'search', method: :get do %>
<%= label_tag :q, "Search" %>
<%= search_field_tag :q, "", placeholder: 'Search' %>
<%= submit_tag "Search" %>

<% end %>

<h2><%= link_to 'New salad', new_salad_path %></h2>
    <div id="main_list">
       <%= render 'list' %>
    </div>



</body>
</html>