
    <% if @salad.errors.any? %>


        The following errors prevented you from saving your salad:
        <ul>
          <% @salad.errors.full_messages.each do |error| %>
              <li>
                <%= error %>
              </li>
          <% end %>
        </ul>
    <% end %>

    <H1>Enter a new salad</H1>


      <%= form_for @salad do |f| %>

            <div class="row">    <div class="large-1 columns"></div>
            <div class="large-4 columns">
            <%= f.label :salad_name %></h4>

              <%= f.text_field :salad_name %></div>
            </div>

            <div class="row">
            <div class="large-4 columns">
              <h4 class="subheader"><%= f.label :description %>
            <%= f.text_field :description %></div>
            </div>

            <%= f.label :lettuce_type %>
            <%= f.text_field :lettuce_type %>

            <%= f.label :cheese %>
            <%= f.check_box :cheese %>


            <%= f.label :image %>
            <%= f.file_field :image %>

          <% current_user = @salad.user_name %>


            <h2><%= f.submit %> | <%= link_to 'Cancel', root_path %></h2>

         <% end %>


