<h1>New salad created!</h1>

<h2><%= link_to 'Home', root_path %></h2>

<p>
    <%= @salad.salad_name %>
</p>
  <ul>
    <li><%= @salad.description %></li>
    <li><%= @salad.lettuce_type %></li>

    <% if salad.cheese == true %>

        cheese

    <% end %>


    </li>

    <li><%= image_tag @salad.image_url %></li>

  </ul>


